document.querySelector(".participate-btn").innerHTML = "<%= escape_javascript(render('participations/participate')) %>"
document.querySelector(".participate-names").innerHTML = "<%= escape_javascript(render('participations/participate_members')) %>"
document.querySelector(".participate-number").innerHTML = "<%= escape_javascript(render('participate_number')) %>"



//let flash = document.querySelector(".flash")
//flash.classList.add('flash__notice');
////flash.classList.add('flash__alert');
//flash.style.display = "block";
//flash.innerHTML = "You won't join";
//
//setTimeout(function(){ 
//  flash.style.display = "none"; 
//}, 4000);




//document.querySelector('.flash__alert').innerHTML = '<div class="alert alert-success"><%= @msg %></div>'
