= image_pack_tag 'pin3.png', class: 'pin1'
= image_pack_tag 'pin6.png', class: 'pin2'
= image_pack_tag 'pin7.png', class: 'pin3'
= image_pack_tag 'pin8.png', class: 'pin4'
= image_pack_tag 'pin6.png', class: 'pin5'
= image_pack_tag 'pin7.png', class: 'pin6'
= image_pack_tag 'pin8.png', class: 'pin7'
