.flash {
  position: fixed;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.2rem;
  text-align: center;
  z-index: 21;
  top: 0px;
  &__alert{
    color: #a94442;
    background-color: #f2dede;
  }
  &__notice {
    color: #3c763d;
    background-color: honeydew;
  }
}
