.navbar {
  a {
    color: white;
  }
  .logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    img {
      width: 30px;
      height: 30px;
    }
    p {
      font-size: 1.8rem;
      margin: 0;
    }
  }
  .navbar-right {
    font-size: 1.4rem;
    li {
      a {
        margin-right: 1rem;
      }
    }
  }
}
