// Main viewセクション
.main_view-wrapper {
  position: relative;
  .main_view-image {
    img {
      background-size: cover;
      width: 100%;
      max-width: 1500px;
      vertical-align: bottom;
    }
  }
  .main_view-container {
    position: absolute;
    text-align: center;
    color: white;
    text-shadow: 0.1rem 0.1rem 0.8rem #000;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  h1 {
    font-size: 5rem;
    margin-bottom: .8rem;
  }
  p {
    font-size: 1.6rem;
  }
  .btn 
  {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
}

// Aboutセクション
.about-wrapper {
  padding: 3rem 0;
}
.about-container {
  text-align: center;
}
.about-title {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.about-text {
  font-size: 1.6rem;
  p {
    line-height: 2rem;
  }
}

// How toセクション
.how_to-wrapper {
  background-color: rgba(128, 185, 231, 0.05);
  padding: 3rem 0;
}
.how_to-container {
  text-align: center;
}
.how_to-title {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.how_to-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10rem;
  .how_to-sub_title {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
  }
  .how_to-or {
    text-align: center;
    font-size: 2.5rem;
  }
}






// recruit#indexセクション
.recruit_index-wrapper {
  padding: 3rem 3rem 20rem;
  background-color: rgba(160, 143, 143, 0.233);
}

.recruit_index-container {
  margin: 0 auto;
  background-color: white;
  position: relative;
  .cork_board {
    width: 100%;
  }

  .recruit_index-title {
    position: absolute;
    font-size: 5rem;
    padding: 0 1rem;
    text-align: center;
    // background-color: rgb(104, 236, 52);
    top: 80px;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
  }
  .recruit_search {
    position: absolute;
    display: flex;
    border-radius: 0px;
    top: 170px;
    left: 80%;
    transform: translate(-50%,-50%);
    .form-control {
      width: 200px;
      border-radius: 0px;
    }
    .btn {
      background-color: $color-main;
    }
  }


  .recruit_index-inner {
    position: absolute;
    width: 100%;
    padding: 2rem;
    top: 170px;
    left: 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    z-index: 2;
  }
  .recruit_index-dummy, .recruit_index-blank-dummy {
    width: 32%;
    &::before {
      content: "";/* 中身は空でいい */
      background: url(http://hibana.xii.jp/icon/pin/003/32-2.png) no-repeat;/* 背景画像にピンを、繰り返してほしくないのでno-repeat指定 */
      width: 35px;/* 背景画像が全部表示されるようにピン画像より大きめのボックスを作る */
      height: 35px;
      position: relative;
      display: inline-block;
      top: 44px;
      left: 50%;
      transform: translate(-50%, 0%);
      background-size: contain;
      vertical-align: middle;
      z-index: 20;
    }
  }
  .recruit_index-item, .recruit_index-brank, .recruit_index-brank-1, .recruit_index-brank-2, .recruit_index-brank-3, .recruit_index-brank-4  {
    font-family: 'Handlee', cursive;
    position: relative;
    // width: 30%;
    background-color: white;
    margin: 1rem;
    padding: .6rem 1rem;
    border: dashed rgba(255, 145, 0, 0.664);
    a {
      color: #000;
      &:hover {
      opacity: .7;
      }
    }
    &::before, &::after {
      content:"";
      position: absolute;
      z-index: -1;/*影を下の層に持っていく*/
      bottom: 10px;
      display: block;
      width: 50%;
      height: 50%;
      box-shadow: 0 15px 10px #960;
    }
    &::before {
      left: 5px;
      transform:rotate(-5deg);
    }
    &::after {
      right: 5px;
      transform:rotate(5deg);
    }
    &:hover {
      &::before, &::after {
        display: none;
      }
    }
  }
  .recruit_index-item {
    &:hover {
      transform: rotate(5deg);
      transform-origin: top center;
    }
  }
    // ↓振り子
    // &:hover {
    //   animation: swing linear .3s 3;
    //   transform-origin: top center;
    // }
    // @keyframes swing {
    //   0% { transform: rotate(0deg); }
    //   25% { transform: rotate(10deg); }
    //   50% { transform: rotate(0deg); }
    //   75% { transform: rotate(-10deg); }
    //   100% { transform: rotate(0deg); }
    // }
  .recruit_index-item-title {
    padding: 1.2rem 0 .8rem;
    font-size: 1.6rem;
    // &::before {
    //   content: "";/* 中身は空でいい */
    //   background: url(http://hibana.xii.jp/icon/pin/003/32-2.png) no-repeat;/* 背景画像にピンを、繰り返してほしくないのでno-repeat指定 */
    //   width: 35px;/* 背景画像が全部表示されるようにピン画像より大きめのボックスを作る */
    //   height: 35px;
    //   position: absolute;
    //   display: inline-block;
    //   top: -10px;
    //   left: 50%;
    //   background-size: contain;
    //   vertical-align: middle;
    // }
  }
  .recruit_index-item-middle {
    position: relative;
    display: flex;
    // align-items: center;
    a:hover {
      opacity: .7;
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 1rem;
    }
    .orgin_country_flag {
      position: absolute;
      top: 65px;
      left: -10px;
      font-size: 2.6rem;
    }
    .recruit-items {
      font-size: 1.2rem;
      margin-bottom: 0.2rem;
    }
    .recruit-words {
      margin-bottom: .2rem;
      display: block;
    }
    .user-info {
      margin-right: 1rem;
    }
    .country_flag {
      display: none;
    }
  }

  .recruit_index-blank-dummy {
    position: absolute;
    left: 100px;
    top: 800px;
    .recruit_create {
      background-color: $color-main;
      color: black;
      // text-shadow: .1rem .1rem .3rem #000;
      &:hover {
        color: $color-main;
      }
    }
    .recruit_index-brank, .recruit_index-brank-1, .recruit_index-brank-2, .recruit_index-brank-3, .recruit_index-brank-4 {
      width: 85%;
      height: 230px;
      position: absolute;
      transform-origin: top center;
      background-color: white;
    }
    .recruit_index-brank-1, .recruit_index-brank-2, .recruit_index-brank-3, .recruit_index-brank-4 {
      &::before, &::after {
        display: none;
      }
    }
    .recruit_index-brank {
      padding: .6rem 1rem;
      transform: rotate(3deg);
      box-shadow: 0 5px 20px #960;
      z-index: 10;
      // h3 {
      //   font-size: 1.5rem;
      // }
      .recruit-info {
        font-size: 1.2rem;
      }
      &::before, &::after {
        display: none;
      }
    }
    .recruit_index-brank-1 {
      transform: rotate(5deg);
      z-index: 4;
    }
    .recruit_index-brank-2 {
      transform: rotate(-5deg);
      z-index: 2;
    }
    .recruit_index-brank-3 {
      transform: rotate(8deg);
      z-index: 3;
    }
    .recruit_index-brank-4 {
      transform: rotate(0deg);
      z-index: 1;
    }
  }

  // .recruit_index-brank {
  //   width: 100%;
  //   height: 250px;
  //   background-color: white;
  //   &::before, &::after {
  //     content:"";
  //     position: absolute;
  //     z-index: -1;/*影を下の層に持っていく*/
  //     bottom: 10px;
  //     display: block;
  //     width: 50%;
  //     height: 50%;
  //     box-shadow: 0 15px 10px #960;
  //   }
  //   &::before {
  //     left: 5px;
  //     transform:rotate(-5deg);
  //   }
  //   &::after {
  //     right: 5px;
  //     transform:rotate(5deg);
  //   }
  //   &:hover {
  //     &::before, &::after {
  //       display: none;
  //     }
  //   }
  // }
    // position: relative;



  .home-paginate {
    .pagination {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translate(-50%, 0%);
      font-size: .01rem;
      .page-item.disabled {
        display: none;
      }
    }
    // > li, > a {
    //   border: none;     /*枠線をなくす*/
    //   color: $color-main;   /*文字の色を変える*/
    // }
    // > .active, > a {     
    //   background: $color-main;     /*背景の色を変える*/
    //   border-radius: 50px;     /*角を丸くする*/
    // }
    // > li, > a:hover {        
    //   border-radius: 50px;    /*角を丸くする*/
    // }
  }
  .recruit_index-item-bottom {
    text-align: right;
    font-size: 1.2rem;
    a {
      margin-right: 0.4rem;
    }
  }

  .fa-user-friends {
    color: rgb(87, 84, 84);
    text-shadow: 2px 2px 3px #000;
  }
}


