// Main viewセクション
.main_view-wrapper {
  position: relative;
  .main_view-image {
    img {
      background-size: cover;
      width: 100%;
      max-width: 1500px;
      vertical-align: bottom;
    }
  }
  .main_view-container {
    position: absolute;
    text-align: center;
    color: white;
    text-shadow: 0.1rem 0.1rem 0.8rem #000;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  h1 {
    font-size: 5rem;
    margin-bottom: .8rem;
  }
  p {
    font-size: 1.6rem;
  }
  .btn 
  {
    font-size: 1.6rem;
    margin-top: 2rem;
  }
}

// Aboutセクション
.about-wrapper {
  padding: 3rem 0;
}
.about-container {
  text-align: center;
}
.about-title {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.about-text {
  font-size: 1.6rem;
  p {
    line-height: 2rem;
  }
}

// How toセクション
.how_to-wrapper {
  background-color: rgba(128, 185, 231, 0.05);
  padding: 3rem 0;
}
.how_to-container {
  text-align: center;
}
.how_to-title {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.how_to-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10rem;
  .how_to-sub_title {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
  }
  .how_to-or {
    text-align: center;
    font-size: 2.5rem;
  }
}






// recruit#indexセクション
.recruit_index-wrapper {
  padding: 3rem;
  background-color: rgba(160, 143, 143, 0.233);
}

.recruit_index-container {
  margin: 0 auto;
  background-color: white;
  position: relative;
  .cork_board {
    width: 100%;
  }
}

.board_inner {
  // position: absolute;
  // top: 0;
  // left: 0;
}

.recruit_index-title {
  position: absolute;
  font-size: 5rem;
  padding: 0 1rem;
  text-align: center;
  // background-color: rgb(104, 236, 52);
  top: 80px;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}
.create_recruit {
  position: absolute;
  display: inline-block;
  font-size: 2rem;
  background-color: brown;
  border-radius: 50px;
  padding: 1rem;
  color: white;
  text-shadow: .1rem .1rem .3rem #000;
  top: 170px;
  left: 20%;
  transform: translate(-50%,-50%);
}
.serch_recruit {
  position: absolute;
  top: 150px;
  left: 20%;
  transform: translate(-50%,-50%);
}

.recruit_index-inner {
  position: absolute;
  padding: 2rem;
  top: 170px;
  left: 0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  z-index: 2;
}
.recruit_index-item {
  position: relative;
  width: 30%;
  background-color: white;
  margin: 1rem;
  padding: .6rem;
  &::before, &::after {
    content:"";
    position: absolute;
    z-index: -1;/*影を下の層に持っていく*/
    bottom: 10px;
    display: block;
    width: 50%;
    height: 50%;
    box-shadow: 0 15px 10px #960;
  }
  &::before {
    left: 5px;
    transform:rotate(-5deg);
  }
  &::after {
    right: 5px;
    transform:rotate(5deg);
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1rem;
  }
}
.recruit_index-item-title {
  &::before {
    content: "";/* 中身は空でいい */
    background: url(http://hibana.xii.jp/icon/pin/003/32-2.png) no-repeat;/* 背景画像にピンを、繰り返してほしくないのでno-repeat指定 */
    width: 30px;/* 背景画像が全部表示されるようにピン画像より大きめのボックスを作る */
    height: 30px;
    position: relative;
    display: inline-block;
    top: -15px;
    left: 50%;
    background-size: contain;
    vertical-align: middle;
  }
}
.recruit_index-item-middle {
  display: flex;
}

