// Main viewセクション
.main_view-wrapper {
  position: relative;
  .main_view-image {
    background: url(../images/hero.jpg) no-repeat center center / cover;
    height: 100vh;
    background-size: cover;
    vertical-align: bottom;
  }
  .on-image {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  .main_view-container {
    position: absolute;
    text-align: center;
    color: $color-trueWhite;
    text-shadow: 0.1rem 0.1rem 0.8rem $color-trueBlack;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
  h1 {
    font-size: 5rem;
    margin-bottom: .8rem;
  }
  p {
    font-size: 1.6rem;
  }
  .btn {
    font-size: 1.6rem;
    margin-top: 2rem;
    background-color: darken($color-main, 5%);
    color: $color-trueWhite;
    border-radius: 5px;
    padding: .4rem 1.2rem;
    &:hover {
      background-color: darken($color-main, 8%);
    }
  }
}

// Aboutセクション
.about-wrapper {
  padding: 5rem 0;
}
.about-container {
  text-align: center;
}
.about-title {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.about-text {
  font-size: 1.6rem;
  p {
    line-height: 2rem;
  }
}

// How toセクション
.how_to-wrapper {
  background-color: $bgc-home;
  padding: 5rem 0 8rem;
}
.how_to-container {
  text-align: center;
}
.how_to-title {
  font-size: 3rem;
  margin-bottom: 3rem;
}
.how_to-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 10rem;
  .how_to-sub_title {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
  }
  .how_to-or {
    text-align: center;
    font-size: 2.5rem;
  }
}




// recruit#indexセクション
.recruit_index-wrapper {
  font-family: 'Handlee', cursive;
  // padding: 2rem 3rem 20rem;
  // background-color: $bgc-sign;
}

.recruit_index-title {
  width: 60%;
  margin: 1rem auto 0;
  font-size: 50px;
  color: $color-black;
  border-radius: 20px;
  text-align: center;
  .svg-inline--fa{
    margin: 0 1rem;
  }
}

.recruit_index-container {
  position: relative;
  .cork_board {
    width: 100%;
    // background-color: black;
    // height: 100vh;
    // border: solid #580101 30px;
    // opacity: .8;
    vertical-align: top;
  }
  .on-image {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
  }
}

.recruit_search {
  text-align: right;
  select, button {
    height: 2.4rem;
  }
  .btn {
    background-color: $color-main;
  }
}

.recruit_index-pins {
  margin: 1rem 5rem;
  text-align: right;
  // z-index: 12;
}

.recruit_index-inner {
  width: 100%;
  padding: 2rem;
  top: 170px;
  left: 0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  z-index: 2;
}

@include recruit();

.recruit-dummy {
  position: relative;
  width: 32%;
  z-index: 1;
  margin: 3rem 0 0 5rem;
  @include recruit-pin($top: -5, $left: 45%);
  a {
    background-color: $color-main;
    color: $color-trueBlack;
    // text-shadow: .1rem .1rem .3rem $color-trueBlack;
    &:hover {
      color: $color-main;
    }
  }
}
.recruit-blank, .recruit_index-blank-1, .recruit_index-blank-2, .recruit_index-blank-3, .recruit_index-blank-4 {
  width: 85%;
  height: 230px;
  top: 0;
  left: 0;
  @include recruit-container($position: absolute, $padding: 2.4rem 1rem 0);
  box-shadow: 0 8px 8px #960;
  &::before, &::after {
    display: none;
  }
}
.recruit-blank {
  transform: rotate(3deg);
  z-index: 10;
  .recruit-info {
    font-size: 1.2rem;
    margin-top: 0.6rem;
  }
  p {
    margin-bottom: 0.3rem;
  }
}
.recruit_index-blank-1 {
  transform: rotate(5deg);
  z-index: 4;
}
.recruit_index-blank-2 {
  transform: rotate(-5deg);
  z-index: 2;
}
.recruit_index-blank-3 {
  transform: rotate(8deg);
  z-index: 3;
}
.recruit_index-blank-4 {
  transform: rotate(0deg);
  z-index: 1;
  right: 20px;
}



.home-paginate {
  @include pagination()
}
