#map{
  height: 100vh;
  .gmnoprint {
    display: none;
  }
  .gm-fullscreen-control {
    top: 40px !important;
  }
  img[src*="img"] {
    background-color: $color-trueWhite;
    border-radius: 50%;
    border: solid 2px $color-main !important;
    object-fit: cover;
  }
}

