// Members#index

.members_index-wrapper {
  background-color: $bgc-sign;
}

.members_index-container {
  width: 50%;
  margin: 0 auto;
  background-color: white;
}

.members_index-inner {
  width: 70%;
  margin: 0 auto;
}

.members_index-item {
  position: relative;
  display: flex;
  margin-left: 2rem;
  // justify-content: center;
  align-items: center;
  &:hover {
    opacity: .7;
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2rem;
  }
  .orgin_country_flag {
    position: absolute;
    top: 65%;
    left: 0%;
    font-size: 2.6rem;
  }
  .members_index-text {
    font-size: 1rem;
    color: black;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }
}


// Members#show

.members_show-wrapper {
  background-color: $bgc-sign;
  padding: 3rem 0;
}

.members_show-container {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  background-color: white;
}

.members_show-inner-top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 2rem;
  }
  .orgin_country_flag {
    position: absolute;
    top: 65%;
    left: 0%;
    font-size: 2.6rem;
  }
}

