.profile-wrapper {
  background-color: $bgc-sign;
  padding: 3rem 0;
}

.profile-container {
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;
  background-color: white;
  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  h4 {
    margin-bottom: 1.2rem;
  }
  form {
    width: 90%;
    margin: 0 auto;
    .profile-top-items, .profile-buttom-items  {
    display: flex;
    flex-wrap: wrap;
    }
    .field {
      margin-bottom: .6rem;
    }
    label {
      display: block;
      margin-bottom: 0.2rem;
    }
    input {
      width: 90%;
    }
    .name, .user_name {
      width: 50%;
    }
    .date_of_birth {
      width: 35%;
    }
    .gender {
      width: 20%;
    }
    .origin {
      width: 40%;
      .select-origin {
        max-width: 100%;
      }
    }
    .current_country, .current_city {
      width: 50%;
    }
    .language_1, .language_2, .language_3 {
      width: 33%;
    }
    .introduce {
      width: 100%;
      textarea {
        width: 100%;
      }
    }
    .image {
      display: flex;
      align-items: center;
      margin: 0 auto;
      img {
        border-radius: 50%;
        margin-right: 2rem;
      }
    }
  }
}
.profile-btns {
  position: relative;
  .actions {
    margin: 0 auto;
    width: 40%;
  }
  .profile-password-delete {
    position: absolute;
    top: 0;
    left: 25rem;
  }
}



