// #form

.recruit_form-wrapper {
  padding: 3rem 0;
  background-color: $bgc-sign;
}
.recruit_form-container {
  width: 50%;
  margin: 0 auto;
}
.recruit_form-title {
  font-size: 2rem;
}

.recruit_form-inner {
  background-color: $color-trueWhite;
  padding: 1rem;
  font-size: 1.2rem;
  form {
    width: 90%;
    margin: 0 auto;
  }
  .field {
    margin-bottom: 0.6rem;
  }
  label {
    display: block;
    margin-bottom: 0.4rem;
  }
  #recruit_title {
    width: 100%;
  }
  // #recruit_country {
  //   width: 70%;
  // }
  #autocomplete_address {
    width: 100%;
  }
  #recruit_content {
    width: 100%;
    height: 150px;
  }
  .recruit_form-btn {
    text-align: center;
    .btn {
      width: 40%;
      color: $color-trueWhite;
      border-radius: 50px;
      background-color: $color-main;border: 1px solid $white;
      &:hover {
        border: 1px solid $color-main;
        color: $color-main;
        background-color: $color-trueWhite;
      }
    }
  }
}


// show
.recruit_show-wrapper {
  background-color: $bgc-sign;
  padding: 5rem 0;
}

.recruit_show-container {
  width: 50%;
  margin: 0 auto;
  background-color: $color-trueWhite;
  border: dashed rgba(255, 145, 0, 0.664);
  .recruit_show-inner-title {
    margin-bottom: 1rem;
  }
}

.recruit_show-dummy {
  width: 100%;
  @include recruit-pin($width: 50px, $height: 50px, $top: 70px);
}

.recruit_show-inner {
  font-family: 'Handlee', cursive;
  position: relative;
  padding: 3rem 1rem 1rem;
  @extend %recruit-shadow;
  .recruit_show-inner-title {
    margin-bottom: 1rem;
    word-wrap: break-word;
  }
  .recruit_show-inner-middle {
    display: flex;
  }
  .recruit_show-inner-middle-left {
    width: 30%;
    text-align: center;
  }
  .recruit_show-inner-profileInfo {
    margin-right: 1.6rem;
  }
  .recruit_show-inner-image {
    margin-bottom: 0.6rem;
    @include user-image($width: 170px, $height: 170px, $margin-right: 0,
                   $top: 120px, $left: -140px, $font-size: 3rem);
  }
  .recruit_show-inner-name {
    font-size: 1.5rem;
  }
  .recruit_show-inner-joinMember {
    margin: 1rem 0 .3rem;
    // font-size: 1.4rem;
    p {
      margin: 1rem 0 .4rem;
      font-size: 1.2rem;
      // border-bottom: 1px solid $color-gray;
    }
    .member-names {
      display: flex;
      flex-wrap:wrap;
      margin-left: 1rem;
    }
    .member-name {
      font-size: 1rem;
      margin-right: auto;
      color: $color-trueBlack;
      margin: 0 1rem .3rem 0;
      border-bottom: 1px solid $color-trueWhite;
      &:hover {
        border-bottom: 1px solid $color-gray;
      }
    }
  }
  .recruit_show-inner-recruitInfo {
    width: 70%;
    .recruit-items {
      margin-bottom: .6rem;
      &:first-child {
        margin-top: 1rem;
      }
    }
    .recruit-words {
      font-size: 1.4rem;
      // padding-bottom: .6rem;
      color: $color-gray;
    }
    .user-info {
      font-size: 1.4rem;
      margin-top: .2rem;
      word-wrap: break-word;
    }
    .when-info {
      // font-size: 2rem;
      // margin-bottom: 2rem;
    }
  }

  .recruit_show-inner-bottom {
    font-size: 1.2rem;
    text-align: right;
    color: $color-black;
    .fa-edit, .fa-trash-alt, .comment-icon, .join-icon {
      margin-right: 0.2rem;
    }
    a {
      color: $color-black;
      &:hover {
        color: $color-black;
      }
    }
  }
}

// join#new
.join-btns {
  a {
    display: block;
    width: 80%;
    text-align: center;
    margin: 1rem auto 0;
    padding: .2rem;
    border-radius: 50px;
    border: 1px solid $color-trueWhite;
    color: $color-trueWhite;
    background-color: $color-main;
    &:hover {
      border: 1px solid $color-main;
      color: $color-main;
      background-color: $color-trueWhite;
    }
  }
}


// comment#new
.comment_new {
}
.comment_new-inner {
  width: 70%;
  margin: 1rem auto 2rem;
  text-align: center;
  .comment_new_content {
    text-align: center;
    width: 100%;
  }
  textarea {
    width: 100%;
    height: 70px;
    border-radius: 10px;
    padding: .4rem;
  }
  .comment_new-btn {
    text-align: right;
  }
  .btn {
    color: $color-trueWhite;
    border-radius: 50px;
    background-color: $color-main;
  }
}



// comment#index
.comment-wrapper {
  padding: 1rem 0;
  background-color: rgba(141, 65, 65, 0.384);
}

.comment-container {
  width: 60%;
  margin: 0 auto;
}

.comment_index {
  height: 600px;
  padding: 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.comment_index-item {
  margin-top: 1rem;
  align-items: center;
}
.comment_index-item-left {
  display: flex;
  overflow-wrap: break-word;
  .comment_index-image {
    width: 20%;
    text-align: right;
    padding-right: 1.5rem;
    @include user-image($width: 50px, $height: 50px, $margin-right: 0,
                    $top: 28px, $left: 0px, $right: 55px, $font-size: 1.6rem);
  }
  .comment_index-comment {
    position: relative;
    width: 60%;
    border-radius: 20px;
    padding: 1rem 1rem 0 1rem;
    background-color: $color-trueWhite;
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 18px; 
      left: -24px;
      border: 12px solid transparent;
      border-right: 12px solid $color-trueWhite;
    }
  }
}
.comment_index-item-right {
  display: flex;
  overflow-wrap: break-word;
  justify-content: flex-end;
  .comment_index-image {
    width: 20%;
    text-align: left;
    padding-left: 1.5rem;
    @include user-image($width: 50px, $height: 50px, $margin-right: 0,
                    $top: 28px, $left: 15px, $font-size: 1.6rem);
  }
  .comment_index-comment {
    position: relative;
    width: 60%;
    border-radius: 20px;
    padding: 1rem 1rem 0 1rem;
    background-color: $color-trueWhite;
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 18px; 
      right: -24px;
      border: 12px solid transparent;
      border-right: 12px solid $color-trueWhite;
      transform: rotate(180deg);
    }
  }
}
.comment_index-btns {
  text-align: right;
  margin-top: 1rem;
  a {
  }
}


