// sign_up, sign_in
.sign-wrapper {
  height: 100vh;
  padding: 7rem 2rem;
}

.sign-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 3rem 0;
  background-color: $color-trueWhite;
  text-align: center;
  h2 {
    margin-bottom: 2rem;
  }
  .field {
    margin-bottom: 1.5rem;
    input {
      width: 400px;
      padding-left: .4rem;
    }
  }
}

.actions {
  position: relative;
  .btn {
    width: 30%;
    border-radius: 50px;
  }
  a {
    position: absolute;
    top: 1rem;
    left: 70%;
  }
}

#error_explanation {
  color: red;
  ul {
    padding-left: 7rem;

  }
  li {
    text-align: left;
  }
}

#user_remember_me {
  width: 20px;
}

.forgot {
  margin-top: 1.5rem;
}

.guest_sign_in {
  width: 30%;
  margin-top: .6rem;
  border-radius: 50px;
}
