$bgc-sign: rgba(236, 236, 236, 0.6);
$bgc-home: rgba(128, 185, 231, 0.05);
$color-main: brown;
$color-black: #474747;
$color-gray: rgba(105, 102, 102, 0.582);
$color-primary: #007bff;
$color-trueBlack: #000;
$color-trueWhite: #fff;
$color-shadow: #960;

$border-recruit: double 3px rgba($color-main, 0.8);
$shadow-recruit: 0 15px 10px $color-shadow; 
$shadow-recruit-dummy: 0 8px 8px $color-shadow;

$font-family-recruit: 'Handlee', cursive;



