%pins {
  .pin {
    height: 40px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
    .left {
      margin-left: 5rem;
    }
    .right {
      display: flex;
      margin: 0 4rem 0 0;
    } 
  }
  .bottom {
    text-align: right;
    margin-right: 5rem;
  }
  .pin1 {
    margin: 0rem .2rem 0rem 0rem;
  }
  .pin2 {
    margin: 0rem 1rem .4rem .2rem;
  }
  .pin3 {
    margin: 0rem 0rem .4rem 0rem;
  }
  .all_countries {
    margin: 0rem 2rem .4rem 0rem;
  }
  .current_country {
    margin: 0rem .6rem .4rem 0rem;
  }
  .next_country {
    margin: .3rem .8rem 0rem .3rem;
  }
  .origin {
    margin: .5rem 0rem 0rem 0rem;
  }
  .pin8 {
    margin: 0rem .2rem .3rem .3rem;
  }
  .pin9 {
    margin: 0rem .1rem .5rem 0rem;
  }
  .pin10 {
    margin: 0rem;
  }
  .special-pin {
    position: relative;
    cursor : pointer;
    &:hover .text {
      display: block;
    }
  }
  .text {
    position:absolute;
    display: none;
    width: 130px;
    height: 30px;
    line-height: 30px;
    top: 40px;
    left: -45px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba($color-trueWhite, .8);
    border: solid 1px $color-trueBlack;
    text-align: center;
    color: $color-trueBlack;
    z-index: 10;
  }
}
